# Root CA OpenSSL configuration

[ ca ]
default_ca = CA_default

[ CA_default ]
dir               = BASE_DIR/root
certs             = $dir/certs
crl_dir           = $dir/crl
new_certs_dir     = $dir/newcerts
database          = $dir/index.txt
serial            = $dir/serial
crlnumber         = $dir/crlnumber

private_key       = $dir/private/root-ca.key.pem
certificate       = $dir/certs/root-ca.cert.pem

crl               = $dir/crl/root-ca.crl.pem
crl_extensions    = crl_ext
default_crl_days  = 30

default_md        = sha256
name_opt          = ca_default
cert_opt          = ca_default

policy            = policy_strict
unique_subject    = yes

default_days      = 7300

copy_extensions   = none

[ policy_strict ]
countryName             = match
stateOrProvinceName     = match
organizationName        = match
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = optional

[ req ]
default_bits        = 4096
default_md          = sha256
prompt              = no
distinguished_name  = dn
x509_extensions     = v3_root_ca
string_mask         = utf8only

[ dn ]
C  = US
ST = PA
O  = Example Lab
OU = Root CA
CN = Example Lab Root CA

[ v3_root_ca ]
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints       = critical,CA:true,pathlen:1
keyUsage               = critical,keyCertSign,cRLSign

[ crl_ext ]
authorityKeyIdentifier = keyid:always
